name: Deploy Topic

on:
  push:
    branches:
      - main
    paths:
      - '.nais/topic-medlem.yml'
      - '.nais/topic-søkere.yml'
      - '.nais/topic-manuell.yml'
      - '.github/workflows/deploy-topics.yml'

jobs:
  deploy-topic:
    name: Deploy topic
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0

      - name: Deploy aap.medlem.v1 to dev
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/topic-medlem.yml
          VARS: .nais/dev.yml
          PRINT_PAYLOAD: true

      - name: Deploy aap.sokere.v1 to dev
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/topic-søkere.yml
          VARS: .nais/dev.yml
          PRINT_PAYLOAD: true

      - name: Deploy aap.manuell.v1 to dev
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/topic-manuell.yml
          VARS: .nais/dev.yml
          PRINT_PAYLOAD: true
